.Footer {
    background-color: #FEFCFB;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.Footer-downdiv {
    width: 98.8vw;
    background-color: #F7F8FC;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    margin-top: -110px;
}

.Footer-containdetails {
    margin-top: 100px;
}

.Footer-subscribe {
    border-radius: 16px;
    background-color: #FA7436;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    position: relative;
    z-index: 1;
}

.Footer-subscribe_inrdiv {
    text-align: center;
}

.Footer-subscribe_inrdiv h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.Footer-inputdata {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#Footer-input {
    border: none;
    box-shadow: none;
    flex: 1;
    margin-right: 10px;
}

.Footer-inputdata .btn {
    background-color: #FA7436;
    color: #FFFFFF;
    box-shadow: none;
}

.Footer-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Footer-contact {
    flex: 1;
    margin-bottom: 20px;
}

.Footer-ourname {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.006em;
    color: #222222;
    margin-bottom: 10px;
}

.Footer-line {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
    margin-bottom: 20px;
}

.Footer-imgcontain {
    display: flex;
    flex-wrap: wrap;
}

.Footer-listcontain {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Footer-list1 ul {
    padding: 0;
}

.Footer-list1 li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #666666;
    list-style: none;
    margin-top: 18px;
}

#Footer-listheading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 34px;
}

.Footer-endpart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid black;
    margin-left: 2px;
}

.Footer-endpart p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    opacity: 0.8;
    margin-top: 20px;
}