.About {
    height: 100vh;   
    background-color: #F7F8FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-containAll {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: normal;
    /* justify-content: space-around; */
}

.About-heading {
    padding: 20px;
}

.About-heading h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    color: #222222;
    /* width: 80%; */
}

.About-heading p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #666666;
}

.About .prenext-btn {
    gap: 20px;
    width: 112px;
    height: 40px;
    margin-top: 1rem;
}

#btn-next,
#btn-previous {
    box-shadow: none;
}

.About-client1 {
    width: 100%;
   
}

.About-client1 img {
    height: 58px;
    width: 58px;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -20px;
    margin-bottom: -20px;
}

.About-review {
    background-color: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    position: relative;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 30px rgba(34, 34, 34, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.About-review .About-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #444444;
}

.About-review .username {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222222;
    margin-top: 3px;
}

.About-review .userlocation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.About-client2 {
    box-sizing: border-box;
    border: 2px solid rgba(102, 102, 102, 0.08);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 30px rgba(34, 34, 34, 0.35);
    opacity: 0.5;
    margin-top: -15px;
}

.About-client2 .username {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #222222; 
}

.About-client2 .userdetail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.About-containAll .btndiscover{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.modal-header i{
    padding:5px 7px;

}

.modal-header i:hover{
    background-color: rgb(216, 64, 64);
    padding:5px 7px;
    color: white;
    border-radius: 50%;
}