
.Plans {
    background-color: #FEFCFB;
    padding: 1.25rem;
}

.Plans .container {
    margin-top: 8rem;
}

.Plans-heading h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.375rem;
    color: #222222;
}

.Plans-detail p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #666666;
}

.Plans-boxes {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.Plans-box {
    background-color: #FFFFFF;
    box-shadow: 0.875rem 1.5rem 4.5rem rgba(102, 102, 102, 0.1);
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    gap: 10px;
}

#city-image {
    height: 20.4375rem;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.Plans-topics {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #222222;
}

.Plans-carddetail {
    padding:0.5rem 1rem;
}

.Plans-details img,
.Plans-price img {
    width: 1rem;
    height: 1rem;
    margin-top: 0.15625rem;
}

.Plans-amt p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #FA7436;
    text-align: right;
}

.prenext-btn {
    gap: 1.5rem;
    margin-top: 2rem;
}

.btn-next,
.btn-previous {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.125rem solid black;
    background-color: #FFFFFF;
}

#btn-next {
    background-color: #FA7436;
}

#btn-previous {
    background-color: #FFFFFF;
}