  .Things {
      background-color: #F7F8FC;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
  }

  .content-all {
      margin-top: 3rem;
      padding: 2rem;
  }

  .head-text-contain {
      align-items: end;
      display: flex;
      flex-direction: column;
  }

  .headcontain {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  .heading {
      max-width: 30rem;
  }

  .heading h1 {
      font-family: 'Volkhov';
      font-style: normal;
      font-weight: 700;
      font-size: 3rem;
      line-height: 3.375rem;
      text-align: center;
  }


  .detail {
      max-width: 28rem;
  }

  .detail p {
      margin-top: 0.3125rem;
      width: 100%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2rem;
      color: #666666;
      text-align: center;
  }

  .headcontain .imgdiv img {
      margin-top: 1rem;
      max-width: 100%;
  }

  .boxes {
      margin-top: 3.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

  }

  .box {
      background-color: #FFFFFF;
      padding: 2rem 0 2rem 0;
      box-shadow: 0.875rem 1.5rem 4.5rem rgba(102, 102, 102, 0.1);
      border-radius: 0.5rem;
      text-align: center;
  }

  .box .topics {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.125rem;
      margin-top: 2.5rem;
      color: #222222;
  }

  .box .details {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.625rem;
      color: #666666;
  }