.Deals {
    background-color: #FEFCFB;
    padding: 1.25rem;
}

.Deals .container {
    margin-top: 8rem;
    align-items: unset;
}

.Deal-heading h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.375rem;
    color: #222222;
}

.Deal-detail p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #666666;
}

.Deal-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Deal-card{
    width: 95%;
}
.Deal-box {
    margin-top: 10px;
    background-color: #FFFFFF;
    /* box-shadow: 0.875rem 1.5rem 4.5rem rgba(102, 102, 102, 0.1); */
    border-radius: 0.5rem;

    text-align: center;
}

.Deal-box #location-img {
    height: 18.125rem;
    width: 100%;
    border-radius: 0.625rem;
    object-fit: cover;
}

.Deal-box .Deal-topics {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.625rem;
    color: #222222;
    text-align: left;
}

.Deal-details i {
    margin-top: 0.2rem;
    color: #666666;
}

.Deal-carddetail {
    padding: 0 0.625rem;
}

.Deal-City {
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5625rem;
}

.Deal-City img {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-top: 0.15625rem;
    margin-right: 0.3125rem;
}

.Deal-detail p {
    height: 4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #666666;
}

.price p {
    color: #666666;
    font-weight: 500;
}

.Deals .detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p.discounted {
    color: #FA7436;
    background-color: #FFE7DB;
    border-radius: 7px;
    padding: 0px 10px;
    font-weight: 700;
}

.prenext-btn {
    margin-top: 3.4375rem;
    gap: 1.5rem;
    display: flex;
    justify-content: center;
}

.btn-next,
.btn-previous {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.125rem solid black;
    background-color: #FFFFFF;
}

#btn-next {
    background-color: #FA7436;
}

#btn-previous {
    background-color: #FFFFFF;
}

.image-container {
    position: relative;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}

.image-container i:hover {
    background-color: #FA7436;
    color: white;
}

.image-container:hover{
    cursor: pointer;
}