.Hero {
    background-color: #FEFCFB;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.containerhome {
    margin-top: 8rem;
}

.main-img img {
    height: 100%;
    width: 100%;
}

.home {
    margin-bottom: 2rem;
}

.home .text h2 {
    font-family: 'Volkhov', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #222222;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.home .paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    color: #666666;
}

.home .btn {
    box-sizing: border-box;
    margin-top: 1.5rem;
    border-radius: 0.3125rem;
    background-color: white;
    color: #FA7436;
    border: 0.0625rem solid #FA7436;
}

.inr {
    background: #FFFFFF;
    max-width: 52.5625rem;
    box-shadow: 0rem 0.125rem 5rem 0.125rem rgba(0, 0, 0, 0.06);
    border-radius: 0.625rem;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;

}

.content .btn {
    background-color: #FA7436;
    border: none;
}

.afterpic {
    display: flex;
    align-items: center;
}

.afterpic img {
    height: 0.4375rem;
    margin-top: 0.375rem;
    margin-left: 0.125rem;
}

.topicname {
    font-size: 1rem;
    font-weight: 700;
}

.que {
    font-size: 0.75rem;
}

.navbar-main2 {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.discover-btn:hover {
    background-color: #FA7436;
    color: white;
    cursor: pointer;
}

#btn-explore,
#btn-discover {
    box-shadow: none;
}