.navbar-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    transition: 0.5s;
    background-color: white;
    border-bottom: 2px solid #FA7436;
}

.visible-nav {
    top: 0;
}

.invisible-nav {
    top: -114px;
}

.navbar {
    height: 7.125rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar .logo {
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: none;
}

.list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 0;

}

.navitems li {
    margin-top: 1rem;
    cursor: pointer;
}

.navbar .login {
    color: #FD8D3A;
    box-shadow: none;
}

.navbar .signup {
    background-color: #FA7436;
    color: #FFFFFF;
    box-shadow: none;
}

.navlink:hover {
    color: #FA7436;
}

.signup-hover:hover {
    color: white !important;
}

.Hero-btncontain {
    display: flex;
    justify-content: space-between;
}

.Hero-btncontain .signup{
    margin-bottom: 0.2rem;
}

.navbar-toggle {
    display: none;
    font-size: 2rem;

    cursor: pointer;
}

.navitems.open {
    display: flex !important;
}

@media (max-width: 834px) {
    .list ul {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }

    .list ul {
        gap: 1rem;
    }

    .navitems {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 100%;
    }

    .Hero-btncontain {
        align-items: flex-start;
        width: 100%;
        padding-right: 0.5rem;

    }

    .navbar-toggle {
        position: absolute;
        top: 0.7rem;
        right: 0.7rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-main {
        padding: 0 1rem;
        justify-content: start;
    }

    .list ul {
        list-style-type: none;
        display: flex;
        justify-content: start;
        gap: 1rem;
        align-items: start;
        padding: 0;
        margin-left: 0.8rem;
    }

    .list {
        display: none;
    }

    .Hero-btncontain {
        display: none;
    }

    .list.open {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }

    .Hero-btncontain.open {
        display: flex;
        justify-content: left;

    }

    .navitems li {
        margin-top: 0;
    }

    .btn-logo .btn {
        padding-left: 0;
    }

    .invisible-nav {
        top: -4rem;
    }

    .invisible-nav.open {
        top: -19rem;
        transition: 0.8s;
    }
}